* {
    margin: 0;
    
    box-sizing: border-box;
}
body {
    margin: 0;
}

header {
    color: white;
    background-color: gray;
}  
h1 {
    padding: 1rem;
    padding-left:2rem;
    height: 100px;
}
.nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: black;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 20%;
    min-height: 60vh;

}
.main-content {
    grid-column: 1;
    padding: 1rem;
    background-color: #eaeaea;
}
.sidebar {
    grid-column: 2;
    background-color: #f4f4f4;
    padding: 1rem;
}
footer {
    background-color: gray;
    padding: 1rem;
    text-align: center;
    color: white;
    height: 130px;
}