*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'barlow-condensed', sans-serif;
}
header {
    color: #ffffff;
    background-color: #0c677e;

}  
header span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    height: 5rem;
}
.nav-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #0F1A2A;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /*display: flex;*/
    
}
nav a:hover {
    background-color: #2A3550;
    border-radius: 5px;
}
main {
    display: grid;
    grid-template-columns: 1fr 40%;

    padding: 1rem;
    background-color: #E6E9EE;
}
main h1 {
    grid-column: 1 / -1;
    font-weight: 90;
    text-align: center;
    padding: 1rem;
}
h2 {

    margin-bottom: 1rem;
    color: #ffffff;
    display: block;
    width: 100%;
    background-color: #0c677e;
    padding: 10px;
    text-align: center;

}

.card {
    background-color: #FAFAFA;
    border: 3px solid #C9CED6;
    border-radius: 15px; 
    padding: 0;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px #0000001a;
}
.card p{
    padding: 1rem;
   
}
.about-me {
    height: 24vh;
    display: grid;
    grid-template-columns: 1fr auto ;
} 
#me{
    height: 150px;
    padding: 1rem;
    align-items: flex-end;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
#flag{
    height: 120px;
    padding: 1rem;
}
h3{
    text-align: center;
    border-bottom: 2px solid #C9CED6;
    padding-top: 1rem;
}
.resources {
    justify-content: left;
    list-style: none;
    padding-top: 3rem;
}
.resources li {
    margin-bottom: 1rem;
    padding: 0.5rem;
}
footer {
    background-color: #0c677e;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    height: 5rem;
}