*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'barlow-condensed', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #0c677e;
    padding: 15px 20PX;
    position: relative;

}  

#heading {
    font-size: 1.3rem;
    font-weight: bold;
}

#menu-toggle{
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
nav a:hover {
    background-color: #2A3550;
    border-radius: 5px;
}

.nav-links{
    list-style: none;
    display: none;
    flex-direction: column;
    background: #0c677e;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
}
.nav-links a{
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
}

/*javaScript*/
.nav-links.show{
    display: flex;
}


h1{
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    background-color: #E6E9EE;
    max-width: 1000px;
    margin: 0 auto;
}

.figures {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.figures figure {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 6px #0000001a;
    text-align: center;
    
}

.figures img {
    width: 100%;
    height: auto;
    display: block;
}
.figures figcaption {
    padding: 0.5rem 0;
    font-weight: 500;

}

footer {
    background-color: #0c677e;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    height: 6rem;
}